@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 text-gray-500;
}

html {
  -webkit-tap-highlight-color: transparent;
}

#nprogress .bar {
  @apply h-[3px] bg-violet-500;
  box-shadow: 0 0 8px theme('colors.transparent'),
    0 0 5px theme('colors.transparent');
}
#nprogress .peg {
  display: none;
}
